doctype html
html(lang='es') <!--Define el lenguaje de la pagina-->
  head
    // Metadatos SEO
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='descripcion' content=seo.descripcion)
    meta(name='robots' content='NOINDEX, NOFOLLOW')
    title= `${title} - ExtNissan`
    
    // Metadatos OG para redes sociales
    meta(property='og:title' content=title + ' - ExtNissan')
    meta(property='og:type' content=seo.type)
    meta(property='og:description' content=seo.descripcion)
    meta(property='og:locale' content=seo.locale)
    meta(property='og:site' content=seo.site)
    meta(property='og:image' content=seo.image)
    
    
    // Enlace a los estilos
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css")
    link(rel="stylesheet" href="/assets/css/style.css")
    link(rel="icon" href=seo.icon type="image/x-icon")


  body
    // Importa el header
    include ../partials/header
    
    // Contenido principal
    main
      block content
      
      script(src="/assets/js/menu.js") 
      script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
    // Importa el footer
    include ../partials/footer

